
<h1>
  <%= @article.title %>
</h1>
<h3><%= @article.subtitle%></h3>

<p>Aproximadamente <%=@article.time_read%> minutos de leitura</p>
 
<p>
  <%= @article.text.html_safe %>
</p>

<% if @article.comments.any? %>
  <h3>Comments</h3>
  <% @article.comments.each do |comment| %>
  <p><%= comment.text%></p>
  <%end%>
<%else%>
<p> Não existem comentários</p>
<%end%>

<h3>Faça o seu comentário</h3>
<%= simple_form_for @article.comments.new, url: new_comment_article_path(@article) do |f| %>
  <%= f.input :text, as: :text %>
  <%= f.button :submit %>
<% end %>
 
<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>