<!DOCTYPE html>
<html lang="pt-BR">
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
    <div class="notice" style="color:green;"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert" style="color:red;"><%= flash[:alert] %></div>
  <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
